@use 'base/colors' as clr;
@use 'utils/variables' as var;

//This applies a color overlay to img with the class name
.img-overlay--primary {
  background-color: clr.$color-primary-500;

  & img {
    opacity: 0.75;
    mix-blend-mode: multiply;
  }
}
