$color-primary-500: hsla(22, 88%, 52%, 1);
$color-primary-300: hsla(22, 100%, 69%, 1);

$color-secondary-500: hsla(220, 50%, 17%, 1);
$color-secondary-300: hsla(221, 23%, 58%, 1);

$color-neutral-100: hsla(198, 28%, 93%, 1);
$color-neutral-50: hsla(0, 0, 100, 1);
